<html lang="en">

<body>

<div>
    <h3>Wiadomość z formularza kontaktowego</h3>
    <p><span style="font-weight: bold">Imię: </span>{{ message.name }}</p>
    <p><span style="font-weight: bold">Pesel: </span>{{ message.pesel }}</p>
    <p><span style="font-weight: bold">Email: </span>{{ message.mail }}</p>
    <p><span style="font-weight: bold">Treść wiadomości: </span>{{ message.content }}</p>
</div>

</body>

</html>