<html lang="en">

<body>

<div>
    <h3>Message from contact form</h3>
    <p><span style="font-weight: bold">Name: </span>{{ message.name }}</p>
    <p><span style="font-weight: bold">Pesel: </span>{{ message.pesel }}</p>
    <p><span style="font-weight: bold">Email: </span>{{ message.mail }}</p>
    <p><span style="font-weight: bold">Content: </span>{{ message.content }}</p>
</div>

</body>

</html>